.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;

  border: 1px solid #ccc;
  padding: 0 20px;
  background: #fff;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-center {
  display: flex;
  gap: 20px;
}

.header-right {
  display: flex;
  gap: 20px;
}

/* 링크/버튼 공통 */
.menu-item,
.menu-button {
  padding: 8px 14px;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-size: 15px;

  background: white;
  transition: 0.2s;
}

/* 호버 */
.menu-button:hover,
.menu-item:hover {
  background: #f5f5f5;
}
