.content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  padding: 0 40px;
}

/* 기본 박스 */
.box {
  border: 1px solid black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 수익률 랭킹 (가로로 큰 박스) */
.large {
  grid-column: span 2;
  height: 200px;
}
